.is-project {
  height: 50vh;
  @include background-image;
  overflow: hidden;
  cursor: not-allowed;

  &::before {
    border-radius: $shape-radius;
  }

  &:not(.is-disabled) {
    cursor: pointer;
    &::before {
      transition: all $animation-duration-fast;
      transform: scale(1);
    }
    &:hover,
    &.is-modal-active {
      &::before {
        transform: scale(1.1);
        opacity: 0.75;
      }
    }
  }

  &.is {
    &-dots::before {
      background-image: url('./assets/dots.jpg');
    }
    &-scripter::before {
      background-image: url('./assets/scripter.jpg');
    }
    &-coming-soon::before {
      background-image: url('./assets/coming-soon.jpg');
    }
  }
}

@import './Details/styles';
