.is-technology {
  transition: transform $animation-duration-fast;
  transform: scale(1);
  width: 5.6rem;

  .text {
    transition: color $animation-duration-fast;
    color: $color-background-inverted-soft;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
  }

  @include hover {
    transform: scale(1.1);

    .text {
      color: $color-background-inverted;
    }
  }
}
