.hero {
  @include background-image;

  &.is-fullheight-with-navbar {
    min-height: 100vh;
  }

  &::before {
    background-image: url('./assets/home.jpg');
    background-attachment: fixed;
    opacity: 0.25;
  }

  .title {
    text-transform: capitalize;
  }
}
