.is-contact {
  .link {
    transition: color $animation-duration-fast, border-color $animation-duration-fast;
    padding: 0.25rem;
    border: 1px solid $link-color;
    border-radius: 4px;

    &.is {
      @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &-#{$name} {
          border-color: $color;

          @include hover {
            border-color: color-hover($color);
          }

          @include active {
            border-color: color-active($color);
          }
        }
      }
    }
  }

  .is-socialmedia {
    justify-content: center;
  }
}
