.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;

  transition: background-color $animation-duration-fast;

  &:not(.is-scrolling) {
    background-color: transparent;
  }

  .navbar {
    background-color: inherit;
  }

  .button {
    @include custom-underline;

    &::after {
      transform: translateX(-50%) scaleX(0);
    }

    &.is-active {
      &:not(:hover) {
        color: $button-text-color-active;
      }
    }

    @include hover {
      &::after {
        transform: translateX(-50%) scaleX(0.75);
      }
    }

    @include active {
      &::after {
        transform: translateX(-50%) scaleX(0.75);
      }
    }

    .text {
      text-transform: uppercase;
      letter-spacing: 0.12rem;
      @include hover {
        text-decoration: none;
      }
    }
  }
}
