.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;

  transition: background-color $animation-duration-fast;

  &:not(.is-scrolling) {
    background-color: transparent;
  }

  .navbar {
    background-color: inherit;
  }

  .link {
    transition: color $animation-duration-fast;

    @include custom-underline;

    &::after {
      transform: translateX(-50%) scaleX(0);
    }

    &.is-active {
      &:not(:hover) {
        color: $link-color-active;
      }
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }

    .text {
      text-transform: uppercase;
      letter-spacing: 0.12rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
