.is-project-modal {
  cursor: initial;

  .card {
    border-left: 8px solid $color-primary;

    &-footer {
      border-top: none;

      .link {
        transition: color $animation-duration-fast;
        @include custom-underline;

        .text {
          @include hover {
            text-decoration: none;
          }
        }
      }
    }

    > .layout-border > .is-center {
      overflow-y: visible;
    }
  }
}

@import './Loader/styles';
@import './Category/styles';
@import './Technology/styles';
