@mixin background-image {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.5;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@mixin custom-underline {
  position: relative;

  &::after {
    transition: transform $animation-duration-fast, border-color $animation-duration-fast;
    display: inline-block;
    width: 100%;
    content: '';
    border-bottom: 2px solid $color-primary;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) scaleX(0.5);
  }

  @include hover {
    &::after {
      border-color: color-hover($color-primary);
      transform: translateX(-50%) scaleX(1);
    }
  }

  @include active {
    &::after {
      border-color: $color-primary;
      transform: translateX(-50%) scaleX(1);
    }
  }
}
