html {
  overflow: visible;
}

#root {
  height: 100%;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-weight: bold;
}

.button,
.link {
  transition: color $animation-duration-fast;
}
