// Path
$path-dots-fonts: '~dots.js/dist/fonts';

// Colors
$color-theme: 'light';

$color-background: #f3f3f3;
$color-background-inverted: #424345;
$color-primary: #1d8ac2;
$color-primary-inverted: $color-background;

// Typography
$text-path: './assets/SukhumvitSet-Text';

@font-face {
  font-family: 'SukhumvitSet';
  src: url('#{$text-path}.eot');
  src: url('#{$text-path}.eot?#iefix') format('embedded-opentype'), url('#{$text-path}.woff2') format('woff2'),
    url('#{$text-path}.woff') format('woff'), url('#{$text-path}.ttf') format('truetype'),
    url('#{$text-path}.svg#SukhumvitSet-Text') format('svg');
}

$text-primary-family: 'SukhumvitSet', 'Helvetica', 'Arial', sans-serif;
$text-family: 'SukhumvitSet', 'Helvetica', 'Arial', sans-serif;

// Gap
$gap-elements: 16px;

// Components

$color-background-inverted-soft: color-intensity($color-background-inverted, lighten, 15);
